<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <add key="EventSource" value="InsuranceIMSWS" />
    <!-- Used for debugging entered SMS syntax. Should be false in PROD-->
    <add key="isLoopBack" value="false" />
    <!-- Used for debugging which field entered SMS syntax is null. Should be false in PROD-->
    <add key="isDebugNull" value="false" />
    <add key="TokenKey" value="zbMBbqUKXROEhA2PvpIVJalimr98eNx1" />
  </appSettings>
  <connectionStrings>
    <add name="MicroInsuranceConnectionString" connectionString="Data Source=Beautifly; Initial Catalog=db_MicroInsurance; User ID=systestdb; Password=BiosSysTest" />
    <add name="MicroInsurance_Reader" connectionString="Data Source=Beautifly; Initial Catalog=db_MicroInsurance; Integrated Security=False; User Id=MicroInsurance_Reader; Password=p@ss123!!; MultipleActiveResultSets=True; Connect Timeout=600" />
    <add name="MicroInsurance_Writer" connectionString="Data Source=Beautifly; Initial Catalog=db_MicroInsurance; Integrated Security=False; User Id=MicroInsurance_Writer; Password=p@ss123!!; MultipleActiveResultSets=True; Connect Timeout=600" />
  </connectionStrings>
  <system.web>
    <httpRuntime enableVersionHeader="false" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647" name="RestServiceBinding">
          <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxStringContentLength="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </webHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="Default" name="MicroInsurance.MicroInsuranceService">
        <endpoint address="" behaviorConfiguration="webBehavior" binding="webHttpBinding" bindingConfiguration="RestServiceBinding" contract="MicroInsurance.IMicroInsuranceService" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webBehavior">
          <webHttp helpEnabled="true" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="Default">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="false" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" maxMessagesToLog="3000" maxSizeOfMessageToLog="2000" />
    </diagnostics>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 <system.webServer>
   <httpProtocol>
     <customHeaders>
       <add name="X-Frame-Options" value="SAMEORIGIN" />
     </customHeaders>
   </httpProtocol>
   <security>
     <requestFiltering>
       <verbs allowUnlisted="true">
         <add verb="OPTIONS" allowed="false" />
       </verbs>
     </requestFiltering>
   </security>
    <!--<modules runAllManagedModulesForAllRequests="true"/>-->  
  </system.webServer>
</configuration>
